
<script src="js/controllers.js"></script>

<body ng-app="app" >
<ion-view title="DVA" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="dVA-form2" class="list"  ng-submit="passtoedit()"> 
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-select" id="dVA-select1">
        <span class="input-label">Message Type</span>
        <select>
          <option ng-repeat="type in msgTypes">{{ type }}</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-select" id="dVA-select2">
        <span class="input-label">Message</span>
        <select ng-model="selectedMsg">
          <option ng-repeat="message in msgs">{{ message }}</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <div id="dVA-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
        <p id="demo" style="color:#000000;">{{ selectedMsg }}</p>
      </div>
      <label class="item item-select" id="dVA-select3">
        <span class="input-label">Station</span>
        <select>
          <option>Tiu King Ling</option>
          <option>Prince Edward</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <div id="dVA-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">has departed from
          <strong>SELECT</strong>
        </p>
      </div>
      <label class="item item-select" id="dVA-select4">
        <span class="input-label">Platform</span>
        <select>
          <option>One</option>
          <option>Two</option>
        </select>
      </label>
      <input type="submit" class="button button-positive button-block" value="PASS TO EDIT">
    </form>
    <button id="dVA-button14" class="button button-positive button-block">Add to Schedule</button>
		
  </ion-content>
</ion-view>
</body>