<ion-view title="EDIT" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="eDIT-form5" class="list">
      <div id="eDIT-button-bar1" class="button-bar">
        <button id="eDIT-button6" class="button button-positive button-block">Zone 1</button>
        <button id="eDIT-button7" class="button button-light button-block"></button>
        <button id="eDIT-button8" class="button button-balanced button-block">Zone 3</button>
      </div>
      <div id="eDIT-button-bar2" class="button-bar"></div>
      <div id="eDIT-button-bar3" class="button-bar">
        <button id="eDIT-button19" class="button button-light button-block"></button>
        <button id="eDIT-button20" class="button button-positive button-block">Zone 9</button>
        <button id="eDIT-button21" class="button button-light button-block"></button>
      </div>
      <label class="item item-input" id="eDIT-input3">
        <span class="input-label">Time</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="eDIT-input5">
        <span class="input-label">Title</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="eDIT-input4">
        <span class="input-label">Comment</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="eDIT-toggle2">Repeat</ion-toggle>
    </form>
    <button id="eDIT-button2" class="button button-positive button-block">Save</button>
  </ion-content>
</ion-view>